<div class="card">
    <div class="card-header">Anzahl der Personen die 1 Impfung bekommen haben</div>
    <div class="card-body">
        <div class="graph">
            <div class="row text-center justify-content-center graph">
                <ngx-charts-number-card [results]="dataPerAge.graph">
                </ngx-charts-number-card>
            </div>
        </div>
    </div>
    <div class="card-header">Anzahl der Personen die schon 2 Impfung bekommen haben</div>
    <div class="card-body">
        <div class="graph">
            <div class="row text-center justify-content-center graph">
                <ngx-charts-number-card [results]="dataPerAge.graph2">
                </ngx-charts-number-card>
            </div>
        </div>
    </div>
</div>